@use "../abstracts/mixins";
@use "../abstracts/variables";

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@include mixins.respond(tab-land) {
		font-size: 56.25%; //1rem = 9px;
	}

	@include mixins.respond(tab-port) {
		font-size: 50%;
	}

	@include mixins.respond(big-desktop) {
		font-size: 75%;
	}
}

body {
	font-family: variables.$main-font, sans-serif;
	font-weight: 800;
	line-height: 1.6;
}
